$bodywidth: 1000px;
$maxbodywidth: 80%;

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: ariel, sans-serif;
    font-weight: 100;
    height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
}

/**
 *      WORKER CLASSES
 */

.full-height {
    height: 100vh;
}

.flex-center {
    /*align-items: center;*/
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

button:focus {
    outline: none;
}

/**
 *      LAYOUT
 */

.content {
    text-align: center;
}

.menubar {
    width: 100%;
    .menubar--content {
        width: $bodywidth;
        max-width: $maxbodywidth;
        margin: 0 auto;
        span.ingelogd {
            float: right;
            line-height: 3rem;
            span.ingelogd--naam {
                font-weight: 500;
            }
        }
        .bereschotlogo {
            display: inline-block;
            float: right;
            margin: .4rem 0 0 0;
            img {
                height: 3rem;
            }
        }
        .social--icons {
            display: inline-block;
            float: right;
            padding: 0.2rem 1rem 0.2rem;
            margin: 0 0 0 1rem;
            background: #41dc95;
            border-bottom-left-radius: 1rem;
            img {
                height: 1.5rem;
            }
        }
    }
}

.title--wrap {
    width: $bodywidth;
    max-width: $maxbodywidth;
    margin: 0 auto;
    text-align: left;
}

.title {
    display: inline-block;
    width: 100%;
    font-size: 84px;    
    line-height: 74px;
    margin-top: 20px;
    font-family: raleway;
}
.subtitle {
    width: $bodywidth;
    max-width: $maxbodywidth;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: raleway;
}

.introtext {
    text-align: left;
    font-size: 1.7rem;
    line-height: 3rem;
}



.generator--selector--wrap {
	width: 100vw;
    // padding: 2rem 0;
    background: rgba(143, 177, 255, 0.1);
}

.generator--selector {
    position: relative;
    width: $bodywidth;
    max-width: $maxbodywidth;
    margin: 0 auto;
    padding: 0;
    background: rgba(128, 128, 128, 0.09);
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
}

.selectlist {
    display:inline-block;
    width: 30%;
    text-align: center;
    padding-bottom: 2rem;
    margin: 0;
}

.selectlist--algemeen {
    border-right: 1px solid rgba(0, 0, 0, 0.22);
    background: rgba(0, 0, 0, 0.05);
}

.selectlist--switch {
    display: none;
    position: absolute;
    top: -7px;
    left: 48%;
    text-align: center;
    font-size: 49px;
    font-weight: bold;
    // color: #60947c;  
}

.selectlist--plus {
    display: none;
    position: absolute;
    top: 117px;
    left: 48%;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    color: #a5a5a5;
    z-index: 0;
}

.subhead--table {
    margin: 0;
}

input[type="checkbox"]{
	display: none;
}

input[type="checkbox"] + label  {
	display: inline-block;
}

label, .fauxlabel {
    display: inline-block;
    width: 24rem;
    padding: 0.8rem 0;
    text-align: center;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 1rem;
    margin: 0;
    font-size: 12px;
    box-sizing: border-box;
    font-weight: bold;
    color: #636b6f;
}

button[disabled] {
    color: rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:checked + label, .active  {
	background: #99fdd0;
}

.active--dark {
    background: #42dc95;
}

.algemeenitem {
    width: 22rem;
}

.algemeenitem--modus {
    // width: 26rem;
    // font-size: 14px;
}

.algemeenitem--compleet {
    background: transparent;
    border: none;
}

.algemeenitem--toelichting {
    font-style: italic;
    font-weight: 400;
}

.generator--shortresults {
    width: $bodywidth;
	max-width: $maxbodywidth;
	margin: 0 auto;
	text-align: left;
	ul {
		// list-style: none;
	}
}

.generator--results {
    width: $bodywidth;
	max-width: $maxbodywidth;
	margin: 0 auto;
	text-align: left;

    .result {
        position: relative;
        background: #f3f3f3;
        margin: 0;
        padding: 2rem;
        h2 {
            margin-top: 0;
        }
    }
    .result:nth-child(2n) {
        background: none;
    }
	.intro {
		font-style: italic;
	}
	.body {

	}
    .fav {
        color: blue;
        opacity: 0.2;
    } 

    .fav-star {
        position: absolute;
        top: 16px;
        right: 10px;
        width: 2rem;
        height: 2rem;
        path {
        }
    }
}