.generator--selector {
    border: 1px solid black;
    width: 100%;
}

.selectlist {
    display:inline-block;
    width: 45%;
}

.selectlist--left {
    float: left;
}

.selectlist--right {
    float: right;
}