@page  
{ 
    size: auto;   /* auto is the initial value */ 
    /* this affects the margin in the printer settings */ 
    margin: 30mm 25mm 20mm 25mm;  
    border: 1px solid black;
} 

@media print {
    html, body {
    	height: auto !important;
    	width: auto !important;
        // background-color: lightgreen;
    }

    .title--print {
        display: block;
        box-sizing: border-box;
        // height: 920px;
        padding-top: 100px;
        page-break-after: always;
        .title {
            font-size: 30px;
        }
        h1 {
            font-size: 30px;
            text-align: left;
            padding-left: 14px;
        }
        h2 {
            font-size: 18px;
            padding-bottom: 50px;
            text-align: left;
            padding-left: 14px;
        }
        .introtext {
            font-size: 14px;
            line-height: 14px;
            border: 1px solid black;
            padding: 10px;
        }
        .authors {
            padding-top: 50px;
            padding-left: 14px;
            text-align: left;
            font-size: 14px;
            line-height: 14px;
        }
    }

    #app {
        margin-top: 2rem;
    }

    .generator--shortresults {
	    max-width: 600px !important;
	    .print {
	    	display: none;
	    }
        page-break-after: always;
    }

    .generator--results {
        margin-top: 0;
    	max-width: 600px !important;
    	.result {
	    	padding: 0 !important;
    	}
    	.tabletoreplace {
    		display: none;
    	}
    	.tablereplacement {
    		display: block;
    	}
	}
	h2.inhoud {
		margin-top: 0 !important;
	}

    .flex-center, .content, #app, .generator--wrap, .base,  {
		display: block !important;
		align-items: left !important;
   	} 

    .position-ref {
		// position: absolute !important;
		top: 0 !important;
    } 

    .full-height {
		height: auto !important;
    }

	.bereschotlogo--print {
        display: inline-block;
		position: absolute;
		width: 250px;
		height: auto;
		top: 0;
		right: 0;
		img {
			height: auto !important;
		}
	}

    .menubar {
		display: none !important;	
    }

    #app {
    	// margin-top: 65px !important;
    }

    .title--wrap {
    	display: none;
    }

    .generator--selector--wrap {
    	display: none;
    }


}

